.intro-body {
    width: 40rem;
    height : 20rem;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    font-family: WantedSans-Regular;
    
}


span {
    font-size: 15px;
}

hr {
    width: 15rem;
    border : 1px dashed white;
    opacity: 0.5;
    margin-top: 1rem;
}

.intro-left-body {
    background-color: blue;
    width: 15rem;
}

.intro-right-body {
    width: 20rem;
    text-align: left;
    padding : 5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#name_text {
    font-size: 30px;
    font-weight: bold;
    color : lightgrey;
}

#name_domain {
    color : grey;
}

#name_introduce {
    color : lightgrey;
    font-size : 15px;
    width : 15rem;
    padding-top: 5px;
}

@media (max-width: 800px) {
    .intro-body {
        display: flex;
        flex-direction: column;
        height : 40rem;
        width : 25em;
        justify-content: center;
        align-items: center;

    }

    .intro-left-body {
       width: 20rem;
       background-color: blue;
    }
    
    .intro-right-body {
        width: 20rem;
        display: flex;
    }

    #name_introduce {
        color : lightgrey;
        width: 20rem;
    }

    hr {
        width: 20rem;
    }
    
  }